<html>
<head lang="ch">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="assets/fabric.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        body {
            text-align: center;
            background: radial-gradient(#58914a, rgba(45, 33, 56, 0.99), #2c412b);
        }

        .channel-choose {
            font-size: 0.45rem;
            color: #dbff77;
        }

        .channel-choose img {
            width: 90%;
            height: 2rem;
            margin-top: 0.2rem;
        }

        .control-area{
            border-radius: 50%;
            border:1px dotted yellow;
        }

        .control-area .full-btn {
            width: 100%;
        }

        .control-area .wide-btn {
            width: 85%;
        }
    </style>
</head>

<body>
<div class="container" id="main">
    <div class="row text-right">
        <b style="font-family: 'STXingkai';font-size:large;color:lightgreen">
            KoDi: V{{version.major+'.'+version.minor}} Aladdin{{currentVersion}}&nbsp;&nbsp;
        </b>
    </div>
    <div v-if="changeVisible" style="font-size:large" class="alert alert-warning" role="alert">
        <div class="row">
            <div class="col-xs-12">
                连接服务器失败！请检查KiDo状态或者host port是否正确!<br/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <input @blur="ping" v-model="host"/>
                    <span class="input-group-btn">
                            <button class="btn btn-sm btn-success" @click="ping">Retry</button>
                  </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <button class="btn btn-lg btn-danger" @click="onMute">
                <i class="glyphicon glyphicon-volume-off" v-if="muted"></i>
                <i class="glyphicon glyphicon-volume-up" v-if="!muted"></i>
            </button>
        </div>
        <div class="col-xs-3 col-xs-offset-6 text-center">
            <button class="btn btn-lg btn-danger" @click="beforeShutdown">
                <i class="glyphicon glyphicon-off"></i>
            </button>
        </div>
    </div>
    <div class="control-area">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <button class="btn btn-lg btn-success wide-btn"
                        style="border-radius:1rem 1rem 0 0;margin-bottom:0.6rem;margin-top:0.3rem;"
                        @click="exec('Input.Up')">
                    <i class="glyphicon glyphicon-triangle-top"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-xs-offset-1 text-right">
                <button class="btn btn-lg btn-success full-btn"
                        style="border-radius:50% 0 0 50%"
                        @click="exec('Input.Left')">
                    <i class="glyphicon glyphicon-triangle-left"></i>
                </button>
            </div>
            <div class="col-xs-4">
                <button class="btn btn-lg btn-warning wide-btn"
                        style="border-radius:1rem;"
                        @click="exec('Input.Select')">&bigcirc;
                </button>
            </div>
            <div class="col-xs-3 text-left">
                <button class="btn btn-lg btn-success full-btn"
                        style="border-radius:0 50% 50% 0"
                        @click="exec('Input.Right')">
                    <i class="glyphicon glyphicon-triangle-right"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <button class="btn btn-lg btn-success wide-btn"
                        style="border-radius:0 0 1rem 1rem;margin-top:0.6rem;margin-bottom:0.3rem;"
                        @click="exec('Input.Down')">
                    <i class="glyphicon glyphicon-triangle-bottom"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <button class="btn btn-lg btn-primary" @click="exec('Input.ContextMenu')">
                <i class="glyphicon glyphicon-menu-hamburger"></i>
            </button>
        </div>
        <div class="col-xs-3 col-xs-offset-6 text-center">
            <button class="btn btn-lg btn-primary " @click="exec('Input.Back')">
                <i class="glyphicon glyphicon-share-alt"></i>
            </button>
        </div>
    </div>

    <div class="row">
        <hr/>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <button class="btn btn-sm btn-warning" @click="changeVolume('minus')">
                <i class="glyphicon glyphicon-volume-down"></i>
            </button>
        </div>
        <div class="col-xs-8">
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" :aria-valuenow="volume"
                     aria-valuemin="0" aria-valuemax="100" :style="{width:volume+'%'}">
                    {{volume}}%
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-sm btn-warning" @click="changeVolume('plus')">
                <i class="glyphicon glyphicon-volume-up"></i>
            </button>
        </div>
    </div>

    <div class="row">
        <hr/>
    </div>

    <div class="container">
        <div class="row channel-choose">
            <div :id="channel.channelid" class="col-sm-4 col-xs-6" v-for="(channel,index) in channels"
                 @click="changeChannel(channel.channelid)">
                <img :src="channel.icon" :alt="channel.label" class="img-thumbnail  img-circle"/>
                <div>{{channel.label}}</div>
            </div>
        </div>
    </div>
    s
</div>
</body>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/get.icon.js"></script>
<script src="assets/lockr.min.js"></script>

<script>

    var id = Math.random().toFixed(2) * 900 + 100;

    var app = new Vue({
        el: '#main',
        data: {
            channels: [],
            volume: 100,
            version: {},
            requestLocked: false,
            changeVisible: false,
            muted: false,
            currentVersion: ' v 1.1',
            host: "172.168.1.2:8080"
        },
        methods: {
            changeChannel: function (data) {
                this.exec("Player.Open", {item: {channelid: data}})
            },
            beforeShutdown: function () {
                if (confirm("确定要关机么？")) {
                    this.exec("System.Shutdown")
                }
            },
            defaultSuccess: function (rs) {
                console.log(rs);
            },
            onMute: function () {
                var _this = this;
                _this.muted = !this.muted;
                _this.exec("Application.SetMute", {mute: _this.muted})
            },
            onError: function (rs) {
                var _this = this;
                _this.requestLocked = false;
                if (rs.statusText === "timeout") {
                    _this.changeVisible = true;
                }
            },
            exec: function (method, params, fn) {
                var _this = this;
                //每次只使用一个请求
                if (_this.requestLocked) {
                    return;
                }
                _this.requestLocked = true;
                $.ajax({
                    url: 'http://' + _this.host + '/jsonrpc?request=' + JSON.stringify({
                        jsonrpc: "2.0",
                        method: method,
                        params: params,
                        id: id++
                    }),
                    timeout: 3000,
                    type: "get",
                    dataType: "jsonp",
                    success: function (rs) {
                        _this.requestLocked = false;
                        _this.changeVisible = false;
                        if (fn) {
                            fn(rs);
                        } else {
                            _this.defaultSuccess(rs);
                        }
                    },
                    error: _this.onError
                })
            },
            changeVolume: function (opera) {
                var _this = this;
                var currVol = app.volume;
                switch (opera) {
                    case 'plus':
                        currVol += 5;
                        break;
                    case 'minus':
                        currVol -= 5;
                        break;
                }
                if (currVol > 100 || currVol < 0) {
                    return;
                }
                currVol = currVol < 0 ? 0 : currVol;
                currVol = currVol > 100 ? 100 : currVol;
                _this.volume = currVol;
                _this.exec('Application.SetVolume', {volume: currVol}, function (rs) {
                    _this.volume = isNaN(rs.result) ? _this.volume : rs.result;
                })
            },
            init: function () {
                var _this = this;
                _this.exec("Application.GetProperties", {properties: ["volume", "muted", "version"]}, function (rs) {
                    console.log('load properties', rs);
                    if (!rs.error) {
                        _this.volume = rs.result.volume;
                        _this.version = rs.result.version;
                        _this.muted = rs.result.muted;
                    }

                    _this.exec("PVR.GetChannelGroups", {"channeltype": "tv"}, function (rs) {
                        var groups = rs.result.channelgroups;
                        for (var i = 0; i < groups.length; i++) {
                            _this.exec("PVR.GetChannels", {"channelgroupid": groups[i]['channelgroupid']}, function (rs) {
                                var channel = rs.result.channels;
                                for (var i = 0; i < channel.length; i++) {
                                    channel[i].icon = (function (label) {
                                        return complement_tv_icon(label)
                                    })(channel[i].label);
                                }
                                for (var i = 0; i < channel.length; i++) {
                                    _this.channels.push(channel[i]);
                                }
                            });
                        }
                    });
                });
            },
            ping: function () {
                var _this = this;
                _this.changeVisible = false;
                Lockr.set("hostport", _this.host);
                _this.exec("JSONRPC.Ping", {}, function (rs) {
                    if (rs.result === 'pong') {
                        _this.init();
                    } else {
                        _this.changeVisible = true;
                    }
                });
            }
        },
        mounted() {
            var _this = this;
            Lockr.prefix = "Kido";
            var storageHost = Lockr.get('hostport');
            if (storageHost) {
                _this.host = storageHost;
            }
            _this.ping();
        }
    })

</script>

</html>